html body {

	font-family: 'Karla', sans-serif;
}

.container-fluid {

	max-width: 1440px;
}

/* MENU */

.menuBase {

	height: 60px;
	background-color: #dcdde1;
}

.volLogin {

	position: relative;
	width: 200px;
	height: 45px;
	border-radius: 3px;
	background-color: white;
	border: none;
	float: right;
}

/* Generic Styles */

h1 {

	font-size: 24px;
	font-weight: normal;
	line-height: 28px;

}

h2 {

	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
}

/* Default */

.title {

	margin-top: 40px;
	text-align: center;
}

.subTitle {

	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.card {

	height: 160px;
	text-align: center;
	border: none;
}




/* 
------------------
	DASHBOARD
------------------
 */


.dashMenu {

	background-color: #5352ED;
	min-height: 140px;
	min-width: 100vw;
}

.dashMenu h1 {

	color: white;
	margin-top: 35px;
}

.dashMenu ul {

	position: relative;
	padding: 0px;
	margin: 0px;
	margin-top: 40px;
	bottom: 0px;
}

.dashMenu li {

	list-style-type: none;
}


.dashMenu ul li a {

	color: white !important;
	font-size: 16px;
}

.dashMain h1 {

	color: #2F3640;
	margin-top: 60px;
}

.dashmain p {

	color: #747D8C;
	font-size: 14px;
}

.dashStats {

	margin: 20px;
	border: 2px solid #F1F2F6;
	border-radius: 3px;
	padding: 0px;
	width: 280px;
	max-width: 280px;
}

.dashStats h1 {

	margin-top: 30px;
	margin-left: 25px;
	margin-bottom: 20px;
	color: #2F3640;
	font-size: 36px;
}

.dashStats h2 {

	color: #2F3640;
	position: relative;
	margin-left: 25px;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.dashStats p {

	color: #747D8C;
	font-size: 14px;
	margin-left: 25px;

}