<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Dashboard - CERH</title>

<div class="dashMenu">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col">
                <h1>Welcome Back, {{ current_user.username }}</h1>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="{{ url_for('dashboard') }}">Your Dashboard</a>
                    </li>
                    <li class="nav-item">
                       <a href="{{ url_for('openreport') }}">Open Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="active" href="#">Assigned Reports</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('fullreport') }}">Full Reports</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('user.logout') }}">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</head>









<br>
<h3>Assigned Web Reports</h3>
<table class="table table-bordered">
<thead>
      <tr>
        <th>Edit</th>
        <th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
{% for item in web %}
<tr>
    <td><a class="btn btn-outline-danger" href="/reportcenter/web/close/{{item[0]}}" role="button">Close</a></td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</table>
<h3>Assigned SMS Reports</h3>
<table class="table table-bordered">
<thead>
      <tr>
        <th>Edit</th>
	<th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
{% for item in sms %}
<tr>
    <td><a class="btn btn-outline-danger" href="/reportcenter/sms/close/{{item[0]}}" role="button">Close</a></td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</table>
<h3>Assigned Phone Reports</h3>
<table class="table table-bordered">
<thead>
      <tr>
        <th>Edit</th>
	<th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
{% for item in phone %}
<tr>
    <td><a class="btn btn-outline-danger" href="/reportcenter/phone/close/{{item[0]}}" role="button">Close</a></td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</table>
