<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../static/style.css">
	<title>Dashboard - CERH</title>

<div class="dashMenu">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<h1>Welcome Back, Joel.</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="list-inline">
					<li class="list-inline-item"><a>Your Dashboard</a></li>
					<li class="list-inline-item"><a>Open Reports</a></li>
					<li class="list-inline-item"><a>Full Reports</a></li>
					<li class="list-inline-item"><a>Sign out</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

</head>

<body>

<div class="container-fluid">
	<div class="row">
		<div class="col dashMain">
			<h1>Your Dashboard</h1>
			<p>Last Updated:<span id="datetime"></span></p>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-4 dashStats" style="margin-left: 15px;">
			<h2>Open Web Cases</h2>
			<p>Lorem Ipsum</p>
			<h1>{{ web }}</h1>
		</div>
		<div class="col-12 col-md-4 dashStats">
			<h2>Open SMS Cases</h2>
			<p>Lorem Ipsum</p>
			<h1>{{ sms }}</h1>
		</div>
		<div class="col-12 col-md-4 dashStats">
			<h2>Open Phone Cases</h2>
			<p>Lorem Ipsum</p>
			<h1>{{ phone }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 dashStats" style="margin-left: 15px;">
			<h2>Assigned Cases</h2>
			<p>Lorem Ipsum</p>
			<h1>{{ assigned }}</h1>
		</div>
		<div class="col-12 col-md-4 dashStats">
			<h2>Closed Cases</h2>
			<p>Lorem Ipsum</p>
			<h1>{{ closed }}</h1>
		</div>
	</div>
</div>


<p><a href={{ url_for('member_page') }}>Volenteer Hub</a></p><p><a href={{ url_for('user.logout') }}>Sign out</a></p> -->

<script>
<!--
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
//enter refresh time in "minutes:seconds" Minutes should range from 0 to inifinity. Seconds should range from 0 to 59
var limit="0:30"

var doctitle = document.title
var parselimit=limit.split(":")
parselimit=parselimit[0]*60+parselimit[1]*1

function beginrefresh(){
	if (parselimit==1)
		window.location.reload()
	else{ 
		parselimit-=1
		curmin=Math.floor(parselimit/60)
		cursec=parselimit%60
		if (curmin!=0)
			curtime=curmin+" minutes and "+cursec+" seconds left until page refresh!"
		else
			curtime=cursec+" seconds left until page refresh!"
		document.title = doctitle + ' (' + curtime +')'
		setTimeout("beginrefresh()",1000)
	}
}

if (window.addEventListener)
	window.addEventListener("load", beginrefresh, false)
else if (window.attachEvent)
	window.attachEvent("load", beginrefresh)

//-->
</script>
</center>
