<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
	<link rel="stylesheet" href="../static/style.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<title>Dashboard - CERH</title>

<div class="dashMenu">
	<div class="container-fluid">
		<div class="row">
			<div class="col p-0">
				<h1>Welcome Back, {{ current_user.username }}</h1>
			</div>
		</div>
		<nav class="navbar navbar-expand-md navbar-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-md-0">
					<li class="nav-item">
						<a class="active" href="#">Your Dashboard</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('openreport') }}">Open Reports</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('assignedreport') }}">Assigned Reports</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('fullreport') }}">Full Reports</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('user.logout') }}">Sign out</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>

</head>

<body>

<div class="container-fluid">
	<div class="row">
		<div class="col dashMain">
			<h1>Your Dashboard</h1>
			<p>Last Updated:<span id="datetime"></span></p>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-12 col-md-4 dashStats" style="margin-left: 15px;">
			<h2>Open Web Cases</h2>
			<p><i class="fas fa-desktop"></i></p>
			<h1>{{ web }}</h1>
		</div>
		<div class="col-12 col-md-4 dashStats">
			<h2>Open SMS Cases</h2>
			<p><i class="fas fa-mobile-alt"></i></p>
			<h1>{{ sms }}</h1>
		</div>
		<div class="col-12 col-md-4 dashStats">
			<h2>Open Phone Cases</h2>
			<p><i class="fas fa-phone-square-alt"></i></p>
			<h1>{{ phone }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-4 dashStats" style="margin-left: 15px;">
			<h2>Assigned Cases</h2>
			<p><i class="fas fa-hands-helping"></i></p>
			<h1>{{ assigned }}</h1>
		</div>
		<div class="col-12 col-md-4 dashStats">
			<h2>Closed Cases</h2>
			<p><i class="far fa-window-close"></i></p>
			<h1>{{ closed }}</h1>
		</div>
	</div>
</div>

</body>

<script nonce="{{ csp_nonce() }}">
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
//enter refresh time in "minutes:seconds" Minutes should range from 0 to inifinity. Seconds should range from 0 to 59
var limit="0:30"

var doctitle = document.title
var parselimit=limit.split(":")
parselimit=parselimit[0]*60+parselimit[1]*1

function beginrefresh(){
	if (parselimit==1)
		window.location.reload()
	else{ 
		parselimit-=1
		curmin=Math.floor(parselimit/60)
		cursec=parselimit%60
		if (curmin!=0)
			curtime=curmin+" minutes and "+cursec+" seconds left until page refresh!"
		else
			curtime=cursec+" seconds left until page refresh!"
		document.title = doctitle + ' (' + curtime +')'
		setTimeout("beginrefresh()",1000)
	}
}

if (window.addEventListener)
	window.addEventListener("load", beginrefresh, false)
else if (window.attachEvent)
	window.attachEvent("load", beginrefresh)

</script>

</html>
