<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Dashboard - CERH</title>

<div class="dashMenu">
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <h1>Welcome Back, {{ current_user.username }}</h1>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="{{ url_for('dashboard') }}">Your Dashboard</a>
                    </li>
                    <li class="nav-item">
                       <a href="{{ url_for('openreport') }}">Open Reports</a>
                    </li>
                    <li class="nav-item">
                       <a href="{{ url_for('assignedreport') }}">Assigned Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="active" href="#">Full Reports</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('user.logout') }}">Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>






<br>
<h3>All Web Reports</h3>
<table id="webreport" class="table table-striped table-bordered" style="width:100%">
<thead>
      <tr>
        <th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
<tbody>
{% for item in items %}
<tr>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</tbody>
<tfoot>
</table>
<h3>All SMS Reports</h3>
<table id="smsreport" class="table table-striped table-bordered" style="width:100%">
<thead>
      <tr>
        <th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
<tbody>
{% for item in smsitems %}
<tr>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</tbody>
</table>
<h3>All Phone Reports</h3>
<table id="phonereport" class="table table-striped table-bordered" style="width:100%">
<thead>
      <tr>
        <th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
<tbody>
{% for item in phoneitems %}
<tr>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.js" integrity="sha256-Q0cguHZIfvl0zzk68PF1dGCY3pW2y6xvHx4GHLQ/lg4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.js" integrity="sha256-62excPUE/GPVVyqdVMWPt/2Stm18dLZSoPGH3PFPZJs=" crossorigin="anonymous"></script>
<script nonce="{{ csp_nonce() }}">
$(document).ready(function () {
  $('#phonereport').DataTable();
  $('#smsreport').DataTable();
  $('#webreport').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>
