<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Community Emergency Response Hub - GDPR</title>
<div class="formwrapper">
  <center>
  <h2 class="title">GDPR/Privacy</h2>
  <br>
  <br>
  <p>This prviacy policy will explain how we collect, store and use your personal data.</p>
  <br>
  <h3>What data is processed?</h3>
  <p>Your Mobile Number and message.</p>
  <h3>Who has access to this data?</h3>
  <p>Our volenteers have access to this data in order to process your request.</p>
  <h3>How long do we keep the data?</h3>
  <p>The data is kept stored until the end of the global pandemic. We store how many cases have been opened and closed for statistical purposes.</p>
  <br>
  <h3>Our Partners</h3>
  <p>We utilize the following partners</p>
  <p>Twilio - SMS</p>
  <p>DigitalOcean - Hosting Provider</p>
  <p>Cloudflare - DNS and CDN </p>
  <br>
  <h3>About Twilio</h3>
  <p>Twilio processes SMS messages on behalf of the Emergency Response Hub. SMS messages are logged and recorded for billing and diagnostic purposes.</p>
  <br>
  <h3>About DigitalOcean</h3>
  <p>This website is hosted on DigitalOcean in London operating out of Equinix LDN5.</p>
  <p>As standard the data center has a secure perimeter, mantraps and key card locked doors and cages.</p>
  <br>
  <h3>About Cloudflare</h3>
  <p>This website uses CloudFlare DNS and caching to optimize and create a better user experience.</p>
  <br>
  <h3>Cookies</h3>
  <p>Session Cookie: We use a cookie to store your user session that lasts a maxium of 24 hours.</p>
  <p>_cfduid: Helps Cloudflare detect malicious visitors to our Customers’ websites and minimizes blocking legitimate users. It may be placed on the devices of our customers' End Users to identify individual clients behind a shared IP address and apply security settings on a per-client basis. It is necessary for supporting Cloudflare's security features.</p>
  <p><a href="{{ url_for('hub') }}">Return back to the Hub.</a></p>
</div>
  </center>
</html>
