<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Medicine Hub</title>
<div class="formwrapper">
  <center>
  <h2 class="title">Medicine Hub</h2>
  <p>The community hub is able to provide pick ups for local residents. Leave a message below and one of our volenteers will be in touch.</p>
  <p>Please include the pharmacy you want your items picked up from and if they are paid for or free and how many items.</p>
  <form class="form-signin" method="POST" action="/hub/medicine">
      {{ form.csrf_token }}
      <div class="form-field">{{ form.telephonenumber.label }} {{ form.telephonenumber }}</div>
      <div class="form-field">{{ form.medication.label }} {{ form.medication }}</div>
      <button type="submit">Submit your Medication request</button>
  </form>
  <p>Please note: You will need to get your Doctor to send your perscription electronically to your pharmacy of choice.</p>
  <p><a href="{{ url_for('hub') }}">Return back to the Hub.</a></p>
</div>
  </center>
</html>
