<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h2>Open Reports - Community Emergency Response Hub</h2> <p><a href={{ url_for('fullreport') }}>Full Report</a> <a href={{ url_for('assignedreport') }}>All Assigned Cases</a> <a href={{ url_for('dashboard') }}>Dashboard</a> <a href={{ url_for('user.logout') }}>Sign out</a></p>
<br>
<h3>Open Web Reports</h3>
<table class="table table-bordered">
<thead>
      <tr>
        <th>Edit</th>
        <th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
{% for item in web %}
<tr>
    <td><a class="btn btn-primary" href="/reportcenter/web/assign/{{item[0]}}" role="button">Assign?</a>&nbsp;<a class="btn btn-outline-danger" href="/reportcenter/web/close/{{item[0]}}" role="button">Close</a></td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</table>
<h3>Open SMS Reports</h3>
<table class="table table-bordered">
<thead>
      <tr>
        <th>Edit</th>
        <th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
{% for item in sms %}
<tr>
    <td><a class="btn btn-primary" href="/reportcenter/sms/assign/{{item[0]}}" role="button">Assign?</a>&nbsp;<a class="btn btn-outline-danger" href="/reportcenter/sms/close/{{item[0]}}" role="button">Close</a></td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</table>
<h3>Open Phone Reports</h3>
<table class="table table-bordered">
<thead>
      <tr>
        <th>Edit</th>
        <th>Telephone Number</th>
        <th>Request Category</th>
        <th>Message</th>
        <th>Status</th>
      </tr>
</thead>
{% for item in phone %}
<tr>
    <td><a class="btn btn-primary" href="/reportcenter/phone/assign/{{item[0]}}" role="button">Assign?</a>&nbsp;<a class="btn btn-outline-danger" href="/reportcenter/phone/close/{{item[0]}}" role="button">Close</a></td>
    <td>{{item[1]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[4]}}</td>
</td>
{% endfor %}
</table>