<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Success!</title>
<div class="formwrapper">
  <center>
  <h2 class="title">Success ✅</h2>
  <p>Your Request has been recorded and a volenteer has been notified and will be in touch shortly.</p>
  <p><a href="{{ url_for('hub') }}">Return back to the Hub.</a></p>
</div>
  </center>
</html>